.vscode

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
!terraform/bootstrap/terraform.tfstate
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
*.tfvars
!*.tfvars.example